<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Share:ital,wght@1,700&display=swap' rel='stylesheet')

    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')
    link(rel='stylesheet', href='/static/css/custom-styles.css')
    //- link(rel='stylesheet', id='theme', href='') NOTE: This is for the theme switcher. I will hopefuly develop this portion later.

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          .logo
            h1 LOCAL
            h1 SETH
          //- input(id="dark-theme" type="checkbox") NOTE: This is for the theme switcher. I will hopefuly develop this portion later.
        .dev-intro-box

          h5 Seth Missiaen

          p Web Developer | Photographer | Musician
          p
            i "The limit does not exist"

          a(href='/about') About me &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Seth Missiaen

      block content

  script(src='/static/js/script.js')
  //- script(src='/static/js/themeSwitcher.js') NOTE: This is for the theme switcher. I will hopefuly develop this portion later.