extends layout

block content
  article.portfolio-intro
    h1= `404 - Page Not Found`
    p= `${err.message}`

    a.home(href=`/`) Back to home page

    div.error-stack
      hr
      p The message below is for development purposes only
      pre #{err.stack}