/*
  Error page styles
*/
.error-stack {
    max-width: 100%;
    width: 65vw;
    overflow: auto;
  }
  
.error-stack pre {
    white-space: pre;
}

/*
  About page styles
*/
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

li {
    padding: 0.5rem;
    background-color: #BFD0E3;
    color: white;
    margin: 0.25rem 0.25rem 0.25rem 0rem;
    border-radius: 3px;
    border-bottom: 2px solid #9dafc2;
}

.about-intro-box {
    display: flex;
    flex-flow: column nowrap;
}

.about-intro-box > * {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.about-intro-box h1 {
    width: 100%;
    text-align: left;
    margin-top: 1.75rem;
}

/*
  Sidebar styles
*/
.logo {
    font-family: 'Share', cursive;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #f5f5f5;
    transform: rotate(-3deg);
    width: 10.75rem;
    margin-bottom: 2rem;
    content: 'slide left';
    transition-duration: 500ms;
    /* height: 8rem;
    border-radius: 50%; */
}

.logo h1 {
    display: inline-block;
    width: auto;
    font-family: 'Share', cursive;
    font-size: 3rem;
    color: #DBE8E5;
    font-weight: bold;
    line-height: 0rem;
    transform: skew(-12deg);
}

/*
  Universal psuedo classes
*/
.logo:hover {
    margin-left: 2rem;
    transform: rotate(0deg);
}

a:hover,
li:not(a):hover {
    opacity: 70%;
    transition-duration: 200ms;
}

.logo h1:first-child {
    padding-left: 2.5rem;
    margin-bottom: -0.125rem;
    margin-top: 1.5rem;
}
  
.logo h1::first-letter {
    font-size: 4.25rem;
}

/*
  Light-mode styles
*/
body {
    background-color: #DBE8E5;
}

.wrapper,
.wrapper > * {
    background-color: #F5F5F5;
}
.sidebar {
    background-color: #DBE8E5;
    color: #CFCFCF;
}

.sidebar h5,
.header-info-box {
    color: #555;
    text-transform:uppercase;
}

.header {
    border-left: none;
}

.header button {
    background-color: #555;
}

.projects-box,
.portfolio-projects,
.box,
.portfolio-projects > *,
.inner-wrapoper > * {
    background-color: inherit;
    ;
}

.btn-link {
    background-color: #BFD0E3; 
    border-bottom: 2px solid #9dafc2;
}